In [81]:
import os 
import numpy as np 
import pandas as pd

In [82]:
path1=os.path.abspath('Day006_Hw') #查看絕對路徑
print(path1)

C:\Users\user\Documents\GitHub\ML100Days\Homework\Day006_Hw

In [83]:
dir_data = 'C:/Users/user/Downloads/application_test.csv'
app_train = pd.read_csv(dir_data)

app_train.dtypes.value_counts()

float64    65
int64      40
object     16
dtype: int64

In [84]:
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    2
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               7
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             5
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [85]:
from sklearn.preprocessing import LabelEncoder

In [86]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train:
    if app_train[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
                        
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

4 columns were label encoded.

In [90]:
app_train = pd.read_csv(dir_data)
app_train = pd.get_dummies(app_train)

print(app_train['CODE_GENDER_F'].head())
print(app_train['CODE_GENDER_M'].head())
print(app_train['NAME_EDUCATION_TYPE_Academic degree'].head())

0    1
1    0
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8
0    0
1    1
2    1
3    0
4    1
Name: CODE_GENDER_M, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: NAME_EDUCATION_TYPE_Academic degree, dtype: uint8

In [92]:
app_train = pd.read_csv(dir_data)
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(48744, 1)

  WEEKDAY_APPR_PROCESS_START
0                    TUESDAY
1                     FRIDAY
2                     MONDAY
3                  WEDNESDAY
4                     FRIDAY

In [94]:
app_train = pd.read_csv(dir_data)
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
pd.get_dummies(sub_train )

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...
48739,0,0,0,0,0,0,1
48740,0,1,0,0,0,0,0
48741,0,0,0,0,0,0,1
48742,0,1,0,0,0,0,0
48743,0,0,0,0,0,1,0